---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import AZVisionTitleImage from '../../public/azvision-title.png';
---

<Layout title="AZ Vision">
	<main>
		<Image src={AZVisionTitleImage} alt="A bird sitting on a nest of eggs."/>
		<p class="instructions">
			Vytváříme systémy pro detekci objektů přesně podle Vašich požadavků. Spektrum použití je široké. Kromě
			jednoduchého počítání objektů je možné systém „natrénovat“ i na odlišení různých typů objektů v obrazu.
			Například rozpoznávání cyklistů a běžců na cyklostezce či počítání mandarinek na pásu.
			<br/>
			<br/>
			Systém je vždy ušitý na míru zákazníkovi, takže je možné ho integrovat s jeho stávajícími systémy, nebo může
			fungovat zcela nezávisle na ostatních systémech.
		</p>
		<p>
			<div>
				Zajímá Vás to? Napište!
			</div>
			<div>
				info@azvision.cz
			</div>
		</p>


	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	
</style>
