---
// No props needed for now
---
<section class="contact">
  <h2>Kontaktujte nás</h2>
  <p class="contact-email"><a href="mailto:info@azvision.cz">info@azvision.cz</a></p>
  <p class="contact-phone"><a href="tel:+420725398765">+420 725 398 765</a></p>
  <p>Máte zájem o řešení nebo potřebujete více informací?</p>
  <form
    action="https://formspree.io/f/xblklkvy"
    method="POST"
  >
    <label>
      Váš e-mail:
      <input type="email" name="email">
    </label>
    <label>
      Telefon:
      <input type="tel" name="phone">
    </label>
    <label>
      Společnost:
      <input type="text" name="company">
    </label>
    <label>
      Vaše představa o řešení:
      <textarea name="message"></textarea>
    </label>
    <button type="submit" class="contact-btn">Odeslat</button>
  </form>
</section>
