---
// No props needed for now
---
<section class="contact">
  <h2>Kontakt pro AI řešení návštěvnosti</h2>
  
  <div class="company-info">
    <p><strong>AZ Vision</strong> - česká firma se sídlem v Praze</p>
    <p>Jsme vývojáři specializující se na práci s počítačovým viděním. Rádi se s vámi setkáme osobně a probereme vaše potřeby přímo u vás nebo v našich prostorách u Arkád Pankrác.</p>
  </div>
  
  <div class="contact-details">
    <p class="contact-email"><a href="mailto:info@azvision.cz">info@azvision.cz</a></p>
    <p class="contact-phone"><a href="tel:+420725398765">+420 725 398 765</a></p>
    <p>Máte zájem o řešení, cenovou nabídku nebo potřebujete více informací?</p>
  </div>
  <form
    action="https://formspree.io/f/xblklkvy"
    method="POST"
  >
    <label>
      Váš e-mail:
      <input type="email" name="email">
    </label>
    <label>
      Telefon:
      <input type="tel" name="phone">
    </label>
    <label>
      Společnost:
      <input type="text" name="company">
    </label>
    <label>
      Vaše představa o řešení:
      <textarea name="message"></textarea>
    </label>
    <button type="submit" class="contact-btn">Odeslat</button>
  </form>
</section>
