---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import '../styles/styles.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent-red: 229, 75, 75; /* Crimson Red */
		--accent-blue: 169, 214, 229; /* Sky Blue */
		--accent-dark: 35, 38, 46; /* Charcoal */
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent-red)),
			rgb(var(--accent-blue)) 80%
		);
	}
	html {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		background: rgb(var(--accent-dark));
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
